<h5>{{title}}</h5>

<table mat-table [dataSource]="orderDataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let order"> {{order.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let order"> {{order.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="addressLine1">
    <th mat-header-cell *matHeaderCellDef> Address Line 1 </th>
    <td mat-cell *matCellDef="let order"> {{order.addressLine1}} </td>
  </ng-container>

  <ng-container matColumnDef="addressLine2">
    <th mat-header-cell *matHeaderCellDef> Address Line 2 </th>
    <td mat-cell *matCellDef="let order"> {{order.addressLine2}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let order"> {{order.city}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let order"> {{order.state}} </td>
  </ng-container>

  <ng-container matColumnDef="zip">
    <th mat-header-cell *matHeaderCellDef> Zip </th>
    <td mat-cell *matCellDef="let order"> {{order.zip}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let order">
      <a mat-icon-button color="primary" type="button" aria-label="Edit" [routerLink]="['../edit', order.orderId]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button color="accent" type="button" aria-label="Delete" (click)="onDeleteOrder(order)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


